body {
    background-color: chocolate;
    margin: 0;
}

#menu {
    text-align: right;
    height: 500px;
    padding: 30px;
    background-image: url("banner-film.png");
    background-size: cover;
    font-size: 50px;
}

a {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
}

    a:hover {
        text-shadow: none;
    }

table {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#stopka {
    font-size: 20px;
    text-align: right;
    padding: 30px;
    background-color: brown;
}

ul {
    list-style-type: none;
}

#tableSzczegoly {
    text-align: left;
    font-size: 30px;
    padding: 2%;
}

    #tableSzczegoly img {
        width: 400px;
    }

#filmsFromCategory {
    font-size: 20px;
    background-color: brown;
    width: 250px;
    padding: 30px;
}

#obrazek {
    text-align: center;
}

#filmsFromCategory ul li
{
    margin: 0 0 15px 0;
}

h2 {
    text-align: center;
    font-size: 50px;
}

a img 
{
    width: 200px;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.disabled {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 5px 5px 10px black;
}

.SekcjaPrzyciski {
    overflow: hidden;
    font-size: 40px;
}

    .SekcjaPrzyciski :nth-child(1) {
        float: left;
    }

    .SekcjaPrzyciski :nth-child(2) {
        float: right;
    }

#CenaCalkowita {
    width: 100%;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 35px;
}

#koszykTabela {
    border-collapse: collapse;
    font-size: 30px;
}

    #koszykTabela tr {
        border-bottom: 1px solid #DADADA;
    }

fieldset {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 8px double orange;
    color: rgb(70, 39, 1);
}

legend {
    font-size: 25px;
    font-family: Comic Sans MS;
    color: rgb(70, 39, 1);
}

label {
    margin: 10px;
}

input {
    padding: 10px;
    margin: 10px;
}

#buttonLogin {
    color: rgb(70, 39, 1);
    background-color: white;
    display: block;
    margin: 1.0em auto;
    width: 150px;
    text-align: center;
}

.error 
{
    color: #d5adc3;
    font-size: 15px;
}